.App {
  position: absolute;
  width: 550px;
  height: 830px;
  left: 65px;
  top: 53px;

  background: #23252C;
}

.header {
  position: absolute;
  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;

}
.header-img {
   display: block;
   width: 100%;
}
.main-name {
  position: absolute;
  width: 178px;
  height: 25px;
  left: 186px;
  top: 382px;


  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

color: #FFFFFF;
}
.main-title {
  position: absolute;
  width: 178px;
  height: 14px;
  left: 186px;
  top: 414px;


  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

color: #F3BF99;
}
.main-email{
  position: absolute;
  width: 228px;
  height: 16px;
  left: 161px;
  top: 437px;


  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;

  text-align: center;

  color: #F5F5F5;
}
.main-buttons{
  display:flex;
  align-items: center;
  position: absolute;
  width: 115px;
  height: 54px;
  left: 188px;
  top: 468px;
  gap: 8px;



}

.btn-email {
  display:flex;
  background: #FFFFFF;
  /* gray/300 */
  border: 1px solid #D1D5DB;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;

}
.btn-email-img{
  padding-right:8px;

}

.btn-linkedin{
  display:flex;
  background: #5093E2;
  /* gray/300 */
  border: 1px solid #5093E2;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
}
.btn-linkedin-img{
  padding-right:8px;
}

.main-text{
  position: absolute;
  width: 317px;
  height: 61px;
  left: 116px;
  top: 510px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #DCDCDC;
}

.footer{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 317px;
  height: 64px;
  left: 116px;
  top: 740px;
  color: #918E9B;


  background: #161619;
  border-radius: 0px 0px 10px 10px;

}

.footer-tw{
  position: absolute;
  left: 11%;
}

.footer-fb{
  position: absolute;
  left: 33%;
}

.footer-inst{
  position: absolute;
  left: 55%;
}

.footer-gh{
  position: absolute;
  left: 77%;
}


/*
div > img {
  position: relative;
  background-image: url(./img/face.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

*/